.canvas {
  width: 95vw;
  height: 100vh;
  overflow: hidden;
  border: 4px solid salmon;
  position: relative;
  margin: auto;
  animation: daylight 20s linear 1s infinite;
  z-index: 10;
}
.cloud {
  width: 8%;
  height: 45px;
  border-radius: 50%;
  background-color: whitesmoke;
  position: absolute;
  top: 30px;
  left: 0;
  animation: cloud 40s linear infinite;
}
.cloud::after {
  content: "";
  width: 40px;
  height: 40px;
  background-color: whitesmoke;
  position: absolute;
  right: -20px;
  top: 17px;
  border-radius: 50%;
}
.cloud::before {
  content: "";
  width: 35px;
  height: 30px;
  background-color: whitesmoke;
  position: absolute;
  margin-left: -20px;
  margin-top: 10px;
  border-radius: 50%;
}
.cloud.a {
  top: 150px;
  left: -20px;
  animation-duration: 30s;
}
.cloud.b {
  top: 100px;
  animation-duration: 12s;
  right: 0px;
  animation-iteration-count: infinite;
}
.sun_box {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 20%;
  animation-name: time;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  z-index: 5;
  animation-timing-function: linear;
}
.moon_box {
  width: 125%;
  height: 125%;
  position: absolute;
  left: 50%;
  top: 20%;
  animation-name: time2;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  z-index: 5;
  animation-timing-function: linear;
}
.sun {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #e9aa45;
  position: absolute;
  box-shadow: 0px 0px 52px 2px rgb(236, 183, 76);
  top: -35px;
  left: -35px;
  z-index: 1;
}
.sun.a {
  bottom: -35px;
  right: -35px;
  left: auto;
  top: auto;
  z-index: 1;
}
.moon {
  position: absolute;
  top: -35px;
  right: -35px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: inset -12px 5px 0 3px #fff;
  z-index: 1;
  margin: 2rem;
}
.moon::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 40px;
  opacity: 0;
  border-radius: 50%;
  z-index: 2;
}
.moon.a {
  bottom: -35px;
  left: -35px;
  top: auto;
  right: auto;
}
.star {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 50px;
  left: 100px;
  animation-name: fader;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
.star::before {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 20px;
  top: 20px;
  animation-name: blinker;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
.star::after {
  content: "";
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: -200px;
  top: 50px;
  animation-name: blinker;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
.star.a {
  top: 30px;
  left: 90%;
}
.star.b {
  top: 120px;
  left: 70%;
}
.star.c {
  top: 100px;
  left: 65%;
}
.star.d {
  top: 200px;
  left: 15%;
}
.table_box {
  width: 25%;
  height: 25%;
  position: absolute;
  left: 10%;
  bottom: 195px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotateY(20deg);
  z-index: 10;
}
.table_supports {
  width: 80%;
  height: 40%;
}
.table_support {
  width: 100%;
  height: 33%;
  background-color: rgb(192, 128, 44);
  margin-bottom: 5px;
}
.table_seat {
  width: 95%;
  height: 13%;
  margin-top: 1px;
  background-color: rgb(194, 117, 17);
}
.table_legs {
  display: flex;
  justify-content: space-between;
  height: 30%;
  width: 80%;
}
.table_leg {
  height: 100%;
  width: 8%;
  background-color: rgb(194, 117, 17);
}
.land {
  width: 100%;
  height: 320px;
  position: absolute;
  left: -50px;
  bottom: -120px;

  background-color: #83a81c;
  border: 5px solid #c0ee40;
  border-radius: 50%;
  border-top-left-radius: 20%;
  z-index: 15;
  animation-name: land;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
.land::before {
  width: 100%;
  height: 200px;
  content: "";
  position: absolute;
  left: 40%;
  top: 20%;
  border: 5px solid #c0ee40;
  border-radius: 50%;
  background-color: #96be29;
  transform: rotate(-15deg);
  animation-name: land1;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
@keyframes daylight {
  0% {
    background-color: #70c4c6;
  }
  15% {
    background-color: #524b64;
  }
  40% {
    background-color: #354a4a;
  }
  70% {
    background-color: #354a4a;
  }
  80% {
    background-color: #e2b553;
  }
  100% {
    background-color: #70c4c6;
  }
}
@keyframes land {
  40% {
    background-color: #4d6932;
    border-color: #4d6932;
  }
  70% {
    background-color: #4d6932;
    border-color: #4d6932;
  }
}
@keyframes land1 {
  40% {
    background-color: #5b793e;
    border-color: #5b793e;
  }
  70% {
    background-color: #5b793e;
    border-color: #5b793e;
  }
}
@keyframes time {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes time2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes cloud {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateX(900px);
    opacity: 0;
  }
}
@keyframes fader {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0.4;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blinker {
  0% {
    opacity: 0;
  }
  18% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
